<ion-header>
  <!-- logo -->
 <ion-toolbar  >
   <ion-grid> 
     <ion-row> 
       <ion-col> 
       <ion-avatar >
    <img src="assets\icon\grey70_logo-70hWhite.svg">
   </ion-avatar> 
  </ion-col>
  <ion-col class="ion-padding-top"> 
   <ion-text> Mental Shower</ion-text>
  </ion-col>
  <ion-col> </ion-col>
  </ion-row>
  </ion-grid>
 </ion-toolbar>
</ion-header>

<ion-content >
<!-- nav fab placed to the top end -->
<ion-fab horizontal="end" vertical="top" slot="fixed" edge >
  <ion-fab-button>
   <ion-icon name="person"></ion-icon>
  </ion-fab-button>
  <ion-fab-list>
    <ion-fab-button color="primary" href="profile">
     <ion-icon name="settings"></ion-icon>
     <!-- <ion-label><p>Profile</p></ion-label>-->
    </ion-fab-button>
    <ion-fab-button color="primary" href="game1">
     <ion-icon name="cash"></ion-icon>
     <!-- <ion-label>Game</ion-label>-->
    </ion-fab-button>
    <ion-fab-button color="primary" href="help">
     <ion-icon name="help"></ion-icon>
      <!-- <ion-label>Help</ion-label>-->
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
 <!-- PUT YOUR CONTENT HERE!!!! -->
<ion-text class="ion-padding">change clima</ion-text>
</ion-content>
<!-- YOUR CONTENT END HERE!!!! -->
<!-- nav bottom -->
<ion-tabs  class="ion-padding-bottom">
  <ion-tab-bar slot="bottom" >
    <ion-tab-button href="room-zone-select">
      <ion-icon src="./assets/icon/home2.svg" class="ion-padding-top"></ion-icon>
    <!--  <ion-label>home</ion-label>-->
    </ion-tab-button>

    <ion-tab-button href="change-clima">
      <ion-icon src="./assets/icon/temp2.svg" class="ion-padding-top"></ion-icon>
     <!-- <ion-label>clima</ion-label>-->
    </ion-tab-button>

    <ion-tab-button href="poll">
      <ion-icon src="./assets/icon/poll2.svg" class="ion-padding-top"></ion-icon>
      <!--  <ion-label>poll</ion-label>-->
    </ion-tab-button>
  </ion-tab-bar>
  </ion-tabs>

