<!-- <ion-header>
 <ion-toolbar  >
   <ion-grid> 
     <ion-row> 
       <ion-col> 
       <ion-avatar >
    <img src="assets\icon\grey70_logo-70hWhite.svg">
   </ion-avatar> 
  </ion-col>
  <ion-col class="ion-padding-top"> 
   <ion-text> Mental Shower</ion-text>
  </ion-col>
  <ion-col> </ion-col>
  </ion-row>
  </ion-grid>
 </ion-toolbar>
</ion-header> -->

<ion-card-content>
  <div class="game-done">
<h2>Congratulations!</h2>
<div class="alert">
<ion-button>Home</ion-button>
<ion-button [mat-dialog-close]="true" cdkFocusInitial>Restart Game</ion-button>
</div>
</div>
</ion-card-content>


