<!-- <ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  

</ion-content> -->
<ion-header  >
  <ion-toolbar >
    <ion-avatar >
      <img src="assets\icon\grey70_logo-70hWhite.svg">
     </ion-avatar> 
  <ion-title class="title">Mental Shower/Profile</ion-title>
  
  
<footer>
  <div>
    <ion-tab-bar slot="bottom" >
      <ion-tab-button routerLink="/selection">
        <ion-icon src="./assets/icon/home2.svg" class="ion-padding-top"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
</div>
</footer>



 

