<ion-header  >
  <ion-toolbar >
    <ion-title class="title">Mental Shower</ion-title>
  </ion-toolbar>
 </ion-header>
  
 <ion-content [fullscreen]="true" class="ion-padding">
 
  <ion-item>
    <p> User Profile</p>
  </ion-item>
  <ion-item>
    <p> User: Profile Example</p>
  </ion-item>
  <ion-item>
    <p> E-mail: user@email.com</p>
    
  </ion-item>
  <ion-item>
    <p>Do you want logout or delete the App?</p>
   
  </ion-item>
  
  </ion-content>
  


<footer class="footer">
  <div>
    <ion-tab-bar slot="bottom" >
      <ion-tab-button routerLink="/selection">
        <ion-icon src="./assets/icon/home2.svg" class="ion-padding-top"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/game">
        <ion-icon src="./assets/icon/game.svg" class="ion-padding-top"></ion-icon>
      </ion-tab-button>
      
    </ion-tab-bar>
</div>
</footer>



 
