
<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
     <ion-back-button defaultHref ="/zone-screen"></ion-back-button>
    </ion-buttons>         
    <ion-title>Vent2U</ion-title>
  </ion-toolbar>
</ion-header>





<ion-content [fullscreen]="true">
  <ion-text><h2>zone status</h2></ion-text>
  <ion-grid > 
    <ion-row class="maria-tab1"> 
  <ion-col> 
  <ion-list>
    
    <ion-item>
      <ion-icon slot="start"src="../assets/icon/temperature.svg" class="#C4C4C4"></ion-icon>
      <ion-label><p>Temperature </p></ion-label> <ion-chip>
        <ion-label>{{temp}} 20</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item>
      <ion-icon slot="start"src="../assets/icon/air-flow.svg" class="#C4C4C4"></ion-icon>
      <ion-label><p> Air flow</p></ion-label><ion-chip >
        <ion-label>{{airflow}}30</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item>
      <ion-icon slot="start"src="../assets/icon/humidity.svg" class="#C4C4C4"></ion-icon>
      <ion-label><p> Humidity</p></ion-label><ion-chip>
        <ion-label>{{humidity}}30</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item>
      <ion-icon slot="start"src="../assets/icon/co2.svg" class="#C4C4C4"></ion-icon>
      <ion-label><p> CO2</p></ion-label><ion-chip>
        <ion-label>{{co2}}30</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
  <ion-text ><p>Is this comfortable or you want to change the clima? </p></ion-text>
</ion-col>
</ion-row>
</ion-grid>
<ion-button expand="block" class="contrast" routerLink="/system-solution">change clima</ion-button>
<ion-item>
  <ion-icon slot="start"src="../assets/icon/democracy.svg" class="#C4C4C4"></ion-icon>
  <ion-text class="instructions" ><p>The system stablished zone democracy, so ask your mates in the table if they want to change. Use the poll, 3 of 4 votes will allow you to change the clima.</p></ion-text>
</ion-item>
</ion-content>
<footer>
  <div><ion-tab-bar slot="bottom" >
    <ion-tab-button href="tab3">
      <ion-icon src="./assets/icon/home.svg"></ion-icon>
     
    </ion-tab-button>
  
    <ion-tab-button href="tab1">
      <ion-icon src="./assets/icon/temperature.svg"></ion-icon>
     
    </ion-tab-button>
  
    <ion-tab-button href="tab2">
      <ion-icon src="./assets/icon/poll2.svg"></ion-icon>
     
    </ion-tab-button>
  </ion-tab-bar> </div>
</footer>
