  <ion-header>
    <ion-toolbar  >
      <ion-grid> 
        <ion-row> 
          <ion-col> 
            <ion-avatar >
              <img src="assets\icon\grey70_logo-70hWhite.svg">
            </ion-avatar> 
          </ion-col>
          <ion-col class="ion-padding-top"> 
            <ion-text> Mental Shower</ion-text>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
    <!-- <ion-text>Memory Game</ion-text>  -->
  </ion-header>

  <ion-tabs  class="ion-padding-bottom">
    <ion-tab-bar slot="bottom" >
      <ion-tab-button href="room-zone-select">
        <ion-icon src="./assets/icon/home2.svg" class="ion-padding-top"></ion-icon>
      </ion-tab-button>
    
      <ion-tab-button href="change-clima">
        <ion-icon src="./assets/icon/temp2.svg" class="ion-padding-top"></ion-icon>
      </ion-tab-button>
    
      <ion-tab-button href="poll">
        <ion-icon src="./assets/icon/poll2.svg" class="ion-padding-top"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
    
  <ion-card>
    <div>
      <p class="text-center"></p>
      <div class="grid padding">
        <app-game-card *ngFor="let c of cards; let idx=index" [data]="c" (cardClicked)="cardClicked(idx)">
        </app-game-card>
      </div>
    </div>
  </ion-card>
  <ion-card class="game">Memory Game</ion-card>
  <ion-card-content class="note">
    <p>"INTERESTING info on the cards" <br>"just find two identical"</p>
    <!-- <p>"Please, read the TEXT on the card!"</p>
    <p>"Just find two identical cards"</p> -->
  </ion-card-content>