// in the fonts.scss file, add the font-face for each font file
@font-face {
   font-family: 'Red Hat Text';
   src: url('../assets/fonts/RedHatText-Regular.ttf');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Red Hat Text';
   src: url('../assets/fonts/RedHatText-Medium.ttf');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Red Hat Text';
   src: url('../assets/fonts/RedHatText-Bold.ttf');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Red Hat Text';
   src: url('../assets/fonts/RedHatText-Italic.ttf');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Red Hat Text';
   src: url('../assets/fonts/RedHatText-BoldItalic.ttf');
   font-weight: 700;
   font-style: normal;
}