h1 {
	color: #7b7b7b;
	position: fixed;
	top: 15%;
}
.login {
	position: fixed;
	top: 20%;
	align-content: center;
	padding: 16px;
	border-radius: 26px;
	border: 1px solid #c4c4c4;
}
.login-form {
	.form-input {
		position: relative;
		margin-bottom: 10px;
		ion-item::part(native) {
			padding-left: 0;
		}
		ion-icon {
			position: absolute;
			top: 37px;
			z-index: 2;
			font-size: 1.2rem;
			left: 5px;
		}
		ion-label {
			position: absolute;
			margin-left: 35px;
			font-weight: bold;
			font-size: 0.8rem;
			top: 3px;
		}
		ion-input {
			font-size: 0.9rem;
			--padding-start: 36px;
			--padding-top: 36px;
			color: #7b7b7b;
		}
	}
	.action-button {
		position: relative;
		text-align: center;
		.login-button {
			--background: #299487;
			width: 100%;
			font-weight: bold;
		}
		h3 {
			font-size: 1rem;
			font-weight: 400;
			span {
				font-size: 1.2rem;
				color: #1a2ee2;
				font-weight: 500;
			}
		}
	}
}
