.action-button {
	text-align: center;
	.feedback-button {
		--background: #299487;
		width: auto;
		font-weight: bold;
	}
}
ion-fab-button ion-fab {
	color: #c4c4c4;
}
ion-fab-button {
	color: #c4c4c4;
}

a.button-native {
	color: #c4c4c4;
}

ion-tab-button {
	height: 30px;
	color: black;
}

a.ion-tab-button {
	height: 40px;
	color: #c4c4c4;
}

ion-avatar .img {
	width: 35px;
	padding-left: 16px;
}

a:link {
	color: #1a2ee2;
}

ion-tab-button {
	height: 40px;
	color: black;
}
.color {
	color: #1a2ee2;
	cursor: pointer;
}
