
  <ion-header>
    <ion-toolbar >
      <ion-title size="medium">Adjust temperature</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref ="start-screen"></ion-back-button>
       </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-grid> 
  <div class="ion-text-center">
   <p>The current temperature of your location is</p>
  </div>

  <div class="ion-text-center">
    <b><h1>{{rangeVal}}°C</h1></b>
  </div>

   <div class="ion-text-center">
    <p>Toggle the bar below to adjust <br> your comfortable temperature or write your preference</p>
   </div>

  <ion-item >
    <p>18</p>
    <ion-range [(ngModel)]="rangeVal" pin="true" min="18" max="25" step="1" snaps color="danger" >
      <ion-icon slot="start" size="small" color="danger" name="thermometer">15</ion-icon>
      <ion-icon slot="end" color="#ed576b" name="thermometer"></ion-icon>
    </ion-range><p>25</p>
  </ion-item>
  <ion-item  color="success">
  <p>Write your preference here &nbsp;</p> <ion-label > <ion-input type="number" value="00" color="primary"></ion-input></ion-label>
  </ion-item>
  <ion-row >
    <ion-col >
      <ion-button routerLink="/zone-screen" expand="block"><b>Save</b></ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-padding">
    <ion-col >
      <p> You have also the posibility to choose the System recomendation</p>
      <ion-button expand="block" routerLink="/system-solution"> <b> System Solution</b></ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>


<footer>
  <div><ion-tab-bar slot="bottom" >
    <ion-tab-button href="tab3">
      <ion-icon src="./assets/icon/home.svg"></ion-icon>
     
    </ion-tab-button>
  
    <ion-tab-button href="tab1">
      <ion-icon src="./assets/icon/temperature.svg"></ion-icon>
     
    </ion-tab-button>
  
    <ion-tab-button href="tab2">
      <ion-icon src="./assets/icon/poll2.svg"></ion-icon>
     
    </ion-tab-button>
  </ion-tab-bar> </div>
</footer>
