ion-content{
    background:white
   }
.header{
    // size="medium" style="text-align: center; font-weight: bold;"
    text-align: center;
    font-weight: bold;
    color: black;
    padding-top: 30px;
}
   ion-img {
   margin-top: 45%;
    width: 200px;
    height: 200px;

   }

.tool-bar-container{
    background-color:white;
}
.button{
    font-weight: bold;
    width: 268px;
    padding-left: 76px;
    margin-top: 32px;
    // background-color:#cccccc ;
}
