<ion-header >
  <ion-toolbar color="primary">
    <ion-title size="medium">Mental Shower</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
  
 

  <ion-grid class="backg ion-padding-vertical">
    
    
    <ion-row  >
      
      <ion-col></ion-col>
        
      <ion-col class="ion-align-items-center" >
        <div><ion-img routerLink="/welcome-screen" src="assets/icon/mental-shower-grey-60px_logo.svg"></ion-img> </div>
        </ion-col>
        <ion-col></ion-col>   
  
    
    
  </ion-row>
  
  </ion-grid>
    <ion-grid> 
      <ion-row> 
      <ion-col > <div> <ion-button routerLink="/tab3" color="primary" expand="block">ENTER</ion-button></div></ion-col>
     </ion-row>
    </ion-grid>
  
    
  </ion-content>

    
  
 
  
