<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    Semester Project Group-1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Semester Project Group-1</strong>
    <p>Provided by Maria, Nishant, Julia & Shimul</p>
    <!-- <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
  </div>
</ion-content>
