<ion-list class="ion-no-margin ion-no-padding"> 

  <ion-list-header>  
    <ion-label>Notifications</ion-label>  
  </ion-list-header>  

  <ion-item class="mail" color="medium" (click)="showAlert()" >  
    <ion-icon name="mail" color="dark"></ion-icon>  
    <ion-label>Have a fun day...</ion-label>
  </ion-item>  

  <ion-item (click)="showAlert1()" color="light">  
    <ion-icon name="mail-open" color="medium"></ion-icon>  
    <ion-label>Already sweating...</ion-label>  
  </ion-item>  

  <ion-item class="mail" color="medium" (click)="showAlert2()" >  
    <ion-icon name="mail" color="dark"></ion-icon>  
    <ion-label>Survey...</ion-label>  
  </ion-item>  

  <ion-item (click)="showAlert3()" color="light">  
    <ion-icon name="mail-open" color="medium"></ion-icon>  
    <ion-label>Feel hot</ion-label>  
  </ion-item>  

  <ion-item (click)="showAlert4()" color="light">  
    <ion-icon name="mail-open" color="medium"></ion-icon>  
    <ion-label>Ideal humidity</ion-label>  
  </ion-item> 

</ion-list>

